* {
	margin: 0;
	padding: 0;
}
html, body {
	overflow: auto;
	font-size: 12px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	min-width: 700px;
	height: 100%;
}
a {
	text-decoration: none;
	color: #333;
}

/* Track */
::-webkit-scrollbar {
width: 5px;
height:0;
}
::-webkit-scrollbar-track {
background: #fff;
border-right:1px #404140 solid;
}
::-webkit-scrollbar-thumb {
background:#404140;
border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
background:#8F8F8F;
}
::-webkit-scrollbar-thumb:active {
background:#525252;
}
.ch_body, #Wrapper {
	left: 0;
	top: 0;
	padding-top: 156px;
	width: 100%;
	-webkit-transition: all .2s ease-in-out;
}
.page_content {
	text-align: center;
	float: left;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	position: relative;
}
.gbox {
	/*-webkit-transition: all .2s ease-in-out;*/
}
.pagelist {
	position: relative;
	text-align: center;
	width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom:20px;
	-webkit-box-sizing: border-box;
}
.snapshot, .app-snapshot {
	width: 214px;
	max-width: 214px;
	min-width: 120px;
	min-height: 110px;
	overflow: hidden;
	height: 165px;
	max-height: 165px;
	display: inline-block;
	position: relative;
	margin-left: 25px;
	margin-bottom: 26px;
	z-index: 5;
	-webkit-transition: all 200ms ease-in-out;
}
#app_list .snapshot, #app_list .app-snapshot{
	width:160px;	
}
.tpmar {
	-webkit-transition: all 200ms ease-in-out;
}
.snapshot:nth-child(4n+1), .app-snapshot:nth-child(4n+1) {
	margin-left: 0;
	clear: both;
}
.snapshot > a, .app-snapshot > a {
	display: block;
}
.thumbnail-wrapper, .app-thumbnail-wrapper {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	position: relative;
	overflow: hidden;
}
.thumbnail-wrapper s, .app-thumbnail-wrapper s {
	position: absolute;
	right: 3px;
	top: 3px;
}
.thumbnail_box, .app_thumbnail_box {
	width: 100%;
	-webkit-box-sizing: border-box;
	height: 132px;
	max-height: 132px;
	display: inline-block;
	border: 1px #ccc solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	
}
.thumbnail_box:hover, .app_thumbnail_box:hover{
	border: 1px #969696 solid;
}
.thumbnail_box img, .app_thumbnail_box img {
	border:none;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-box-sizing: border-box;
}
.bor_rad {
	position: absolute;
	width: 100%;
	height: 6px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 3px #009cff solid;
	left: 0px;
	bottom: -1px;
}
.filter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9));
}
a:hover .filter {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.9));
}
.snapshot .close, .app-snapshot .close {
	display: block;
	width: 15px;
	display: none;
	height: 15px;
	z-index: 120;
	-webkit-opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
}
.snapshot:hover .close, .app-snapshot:hover .close {
	-webkit-opacity: 1;
}
.snapshot .close:after, .app-snapshot .close:after {
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	background: #f60;
}
.snapshot .close:before, .app-snapshot .close:before {
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	-webkit-transform: rotate(-45deg);
	background: #f60;
}
.snapshot .close:hover:after, .app-snapshot .close:hover:after {
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	background: #f00;
}
.snapshot .close:hover:before, .app-snapshot .close:hover:before {
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	-webkit-transform: rotate(-45deg);
	background: #f00;
}
.snapshot .title, .app-snapshot .title {
	color: #000;
	margin: 8px 0 0;
	height: 23px;
	display: block;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:14px;
}
#app_list .title{
	position:relative;
	margin-top:0;
	top:-3px;
}
.thumbnail_box img{
	display:block;	
}
.favicon {
	position: absolute;
	background: url(../images/fav.png) no-repeat;
	width: 16px;
	height: 16px;
	left: 5px;
	bottom: 10px;
	z-index: 990;
}
.thumbnail {
}
.clist {
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
	display: -webkit-box;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.clist li {
	border-top: 5px #d5d5d5 solid;
	margin-top: 10px;
	padding-top: 7px;
	font-weight: 700;
	color: #7f7f7f;
	cursor: pointer;
	width: 80px;
}
.clist li + li {
	margin-left: 12px;
}
.clist li:hover {
	border-top: 5px #b2b2b2 solid;
}
.clist li.current {
	border-top: 5px #7f7f7f solid;
}
.clist li.current:hover {
	border-top: 5px #7f7f7f solid;
}
.menu_container {
	-webkit-box-align: center;
	display: -webkit-box;
	height: 100%;
	margin: 0;
	color: #666;
	font-weight: 700;
	cursor: pointer;
}
.menu_container + .menu_container {
	margin-left: 12px;
	position: relative;
	padding-left: 15px;
}
.menu_container + .menu_container:after {
	content: '';
	position: absolute;
	width: 1px;
	background: #b2b2b2;
	height: 20px;
	top: 15px;
	left: 0;
}
.menu_container > a{
	display:-webkit-box;
}
.menu_container a {
	padding-left: 15px;
}
.menu_container > button{
	display:-webkit-box;
	border: none;
	outline: none;
	background-color: inherit;
	color: #333;
	font-weight: inherit;
	cursor: inherit;
}
.menu_container button {
	padding-left: 15px;
}
.menu_container .txt, .menu_container .ic {
	display: inline-block;
	height: 24px;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	line-height: 24px;
}
.menu_container:last-child {
	margin-right: 10px;
}
#menu_otherDevices span {
	float: left;
}
#menu_recentlyClosed span {
	float: left;
}
.login_status {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 200;
}
.btn_left, .btn_right {
	position: fixed;
	top: 0;
	width: 6%;
	height: 100%;
	cursor: pointer;
	z-index: 3;
}
.btn_left:hover, .btn_right:hover {
	background: -webkit-linear-gradient(top, rgba(0,0,0, 0) 0, rgba(0,0,0, .01) 60px, rgba(0,0,0, .06) 183px);
}
.btn_left {
	left: 0;
}
.btn_right {
	right: 0px;
}
.btn_right.disabled, .btn_left.disabled {
	display: none;
}
.btn_left:after, .btn_left:before, .btn_right:after, .btn_right:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 10px;
	top: 50%;
	left: 50%;
}
.btn_left:after {
	background: #7f7f7f;
	-webkit-transform: rotate(30deg);
	margin-top: -31px;
}
.btn_left:before {
	background: #7f7f7f;
	-webkit-transform: rotate(-30deg);
	margin-top: -23px;
}
.btn_right:after {
	background: #7f7f7f;
	-webkit-transform: rotate(-30deg);
	margin-top: -31px;
}
.btn_right:before {
	background: #7f7f7f;
	-webkit-transform: rotate(30deg);
	margin-top: -23px;
}

.btn-menu .ic {
	background-image: -webkit-canvas(drop-down-arrow);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
	width: 24px;
}
.btn-menu:hover .ic{
	background-image: -webkit-canvas(drop-down-arrow-hover);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
}

.btn-context.drop-down {
	background: white -webkit-canvas(drop-down-arrow) no-repeat center 4px;
	border: 1px solid rgb(192, 195, 198);
	border-radius: 2px;
	height: 12px;
	width: 12px;
	margin: 0 5px;
}
.btn-context.drop-down:hover{
	background: white -webkit-canvas(drop-down-arrow-hover) no-repeat center 4px;
	border-color: rgb(48, 57, 66);
}
.btn-context.drop-down[menu-shown],
.btn-context.drop-down:focus {
	background-color: rgb(48, 57, 66);
	background-image: -webkit-canvas(drop-down-arrow-active);
	border-color: rgb(48, 57, 66);
}
.lastclose {
	position: fixed;
	bottom: 50px;
	padding: 10px;
	z-index: 900;
	right: 100px;
	border: 1px #ccc solid;
	background: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
	display: none;
	max-height: 400px;
	max-width: 450px;
	min-width: 150px;
	overflow: auto;
}
.lastclose a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
	line-height: 16px;
	color: #063774;
}
.lastclose a:hover {
	text-decoration: underline;
}
.lastclose a + a {
	margin-top: 10px;
}
.lastclose a > span {
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin-right: 5px;
}
.lastclose a > span img {
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.otherdevices {
	position: fixed;
	bottom: 50px;
	padding: 10px;  /* if you change this, also change it in "update_otherdevices_bottompadding()" in global.js */
	padding-right: 20px;
	z-index: 900;
	right: 100px;
	border: 1px #ccc solid;
	background: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
	display: none;
	max-height: 400px;  /* if you change this, also change it in "update_otherdevices_bottompadding()" in global.js */
	max-width: 450px;
	min-width: 150px;
	overflow: auto;
	white-space: nowrap;
}
.otherdevices a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	color: #063774;
}
.otherdevices a:hover {
	text-decoration: underline;
}
.otherdevices a + a {
	margin-top: 10px;
}
.otherdevices a > span {
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin-right: 5px;
}
.otherdevices a > span img {
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.otherdevices .details {
	color: rgb(151, 156, 160);
	font-style: italic;
	font-weight: normal;
}
.otherdevices .details::before {
	content: '\2013';  /* En-dash character. */
	margin: 0 0.5em;
}
.otherdevices button {
	background: transparent;
	border: 0;
	color: black;
	outline: none;
	overflow: hidden;
}
.otherdevices .otherdevices-context-menu {
	position: absolute;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .50);
	background: white;
	border-radius: 2px;
	color: black;
	cursor: default;
	padding: 8px 0;
	min-width: 150px;
}
.otherdevices .otherdevices-context-menu button {
	display: block;
	padding: 0 19px;
	line-height: 18px;
	width: 100%;
	text-align: start;
	z-index: 11;
}
.otherdevices .otherdevices-context-menu button:hover {
	background: rgba(0, 0, 0, .06);
}

.onclick-hides-menu {
	height: 100%;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-width: 700px;
	height: 49px;
	border-top: 1px #d7d7d7 solid;
	background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
	z-index: 900;
}
.foot_con {
	-webkit-box-align: center;
	display: -webkit-box;
	height: 49px;
}
.logo_img {
	display: inline-block;
	margin: 4px 0 0 10px;
	position: relative;
}
